<mat-toolbar color="primary">
  <a mat-button routerLink="">Kubernetes Demo Pod</a>
  <a mat-button routerLink="/ip">IP</a>
  <a mat-button routerLink="/http-headers">Http Headers</a>
  <a mat-button routerLink="/notes">Notes</a>
  <a mat-button routerLink="/env">Environment Variables</a>
  <a mat-button routerLink="/watch-files">Watch Files</a>
  <a mat-button routerLink="/liveness">Liveness</a>
  <a mat-button routerLink="/readiness">Readiness</a>
  <a mat-button routerLink="/cpu">CPU</a>
  <a mat-button routerLink="/memory">Memory</a>
</mat-toolbar>
