<h1>Kubernetes Demo Pod</h1>
<section>
  <article>
    <mat-card>
      <mat-card-title>Features</mat-card-title>
      <mat-card-content>
        <ul>
          <li>Delay startup (via `--startup-delay` option)</li>
          <li>Save state in a volume</li>
          <li>Read state from a volume</li>
          <li>Show environment variables</li>
          <li>Show changing ConfigMap values (via `--watch` option)</li>
          <li>Show changing Secret values (via `--watch` option)</li>
          <li>Control liveness</li>
          <li>Control readiness</li>
          <li>Control cpu utilization</li>
          <li>Control memory utilization</li>
          <li>Show available and used memory</li>
          <li>Show client IP</li>
          <li>Show Pod IPs</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </article>
</section>
